<div class="grid md:grid-cols-2 gap-10 mt-12 mb-24">
    <div class="bg-blue-900 px-8 py-12">
        <span class="text-white font-bold text-xl">Contact Us</span>

        <form>
            <input class="appearance-none block w-full bg-gray-100 text-gray-700 border rounded py-3 px-4 my-6 leading-tight focus:outline-none focus:bg-white" type="text" placeholder="Email">
            <textarea class="w-full h-36 bg-gray-100 rounded py-3 px-4" placeholder="Message"></textarea>
            <button class="bg-blue-800 text-white  font-bold text-sm  px-6 py-2 mt-6">
                Send Message
            </button>
        </form>
    </div>

    <div class="bg-blue-700 px-8 py-16">
        <span class="text-white font-bold text-2xl">Subscribe to receive updates from PSA</span>

    </div>
</div>