<div class="bg-gray-200 grid grid-cols-1 md:grid-cols-4 gap-x-14 gap-y-2 px-6 py-8 mb-10 border-gray-400 border-t-2 border-b-2">
    <div class="">
        <p class="text-4xl md:text-5xl font-bold md:pl-12">Explore our <br/>Services</p>
    </div>

    <div class="space-y-4">
        <p class="font-bold text-xl">Due Diligence</p>
        <p class="font-light">PSA offers a broad range of due diligence services that are tailored to our clients’ needs and informed by regulatory requirements and relevant guidance.</p>
        <a href="/due-diligence" class="h-6 link-arrow"></a>
    </div>

    <div class="space-y-4">
        <p class="font-bold text-xl">Investigations</p>
        <p class="font-light">PSA has conducted corporate investigations into issues of embezzlement, fraud, corruption and other misconduct in over 50 countries.</p>
        <a href="/investigations" class="h-6 link-arrow"></a>
    </div>

    <div class="space-y-4">
        <p class="font-bold text-xl">Advisory</p>
        <p class="font-light">PSA provides strategic guidance to firms beyond routine due diligence, crisis-response investigation or market entry advisory services.</p>
        <a href="/advisory-services" class="h-6 link-arrow"></a>
    </div>
</div>