<div class="border-psa-300 border-t-4 h-96 w-full bg-no-repeat bg-center bg-cover" style="background-image: url('{{ page.banner_image }}');">
    <div class="container mx-auto pt-10">
        <div class="px-2 lg:w-1/2">
            <h1 class="text-4xl sm:text-5xl font-bold text-white">Pacific Strategies and Assessments</h1>
            <h2 class="text-xl sm:text-2xl text-white my-4 block">We help clients navigate an increasingly complex world, where the greatest opportunities are often accompanied by the greatest risks.</h2>
            <a class="bg-transparent py-2 px-8 text-white text-lg font-bold uppercase hover:bg-psa-200 hover:border-psa-200 border-white border-2 inline-block" href="{{ site.baseurl }}/about">Learn More</a>
        </div>
    </div>
</div>