{% assign current = page.url %}
<div class="container w-full py-4 px-4 mx-auto bg-white" x-data="{ open: false}">
  <div class="flex flex-col md:flex-row md:items-center md:justify-between">
    <div class="px-4 md:px-0 flex flex-row items-center justify-between">
      <a href="{{ site.baseurl }}/"> <img src="{{ site.baseurl }}/assets/images/PSA_logo.svg" class="h-12 md:h-28 my-2"> </a>

      <button class="md:hidden rounded-lg focus:outline-none focus:shadow-outline" @click="open = !open">
        <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6 text-psa-200">
          <path x-show="!open" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
          <path x-show="open" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" style="display: none;"></path>
        </svg>
      </button>
    </div>

    <nav class="hidden flex-col flex-grow md:flex md:flex-row md:justify-end items-center font-semibold text-psa-300 uppercase" :class="{'flex': open, 'hidden': !open}">
  
      <a class="px-4 text-lg hover:text-psa-100 {% if current == '/' %} underline text-psa-100 {% endif %}" href="{{ site.baseurl }}/" >Home</a>
      <div class="relative" @click.away="open = false" @mouseleave="open = false" x-data="{ open: false }">
        <a class="px-4 w-full text-lg hover:text-psa-100 py-2 md:py-6 {% if current == '/about.html' or current == '/leadership.html' or current == '/our-locations.html' or current == '/careers.html' %} underline text-psa-100 {% endif %}" @click="open = !open" @mouseover="open = !open">
          Company
          <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}" class="inline w-4 h-4 transition-transform duration-200 transform md:-mt-1 rotate-0"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
        <div class="absolute right-0 w-full mt-2 origin-top-right md:-left-4 md:w-48 z-50" x-show="open" x-transition:enter="transistion ease-out duration-200" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-200" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95">
          <div class="px-2 py-6 flex flex-col bg-white shadow">
            <a class="py-2 px-2 text-lg hover:text-psa-100" href="{{ site.baseurl }}/about" >About Us</a>
            <a class="py-2 px-2 text-lg hover:text-psa-100" href="{{ site.baseurl }}/leadership">Our Leadership</a>
            <a class="py-2 px-2 text-lg hover:text-psa-100" href="{{ site.baseurl }}/our-locations" >Our Locations</a>
            <a class="py-2 px-2 text-lg hover:text-psa-100" href="{{ site.baseurl }}/careers" >Careers</a>
          </div>
        </div>
      </div>
      <div class="relative" @click.away="open = false" @mouseleave="open = false" x-data="{ open: false }">
        <a class="px-4 w-full text-lg hover:text-psa-100 py-2 md:py-6 {% if current == '/due-diligence/' or current == '/advisory-services/' or current == '/investigations/' %} underline text-psa-100 {% endif %}" @click="open = !open" @mouseover="open = !open">
          Services
          <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}" class="inline w-4 h-4 transition-transform duration-200 transform md:-mt-1 rotate-0"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
        <div class="absolute right-0 w-full mt-2 origin-top-right md:-left-4 md:w-48 z-50" x-show="open" x-transition:enter="transistion ease-out duration-200" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-200" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95">
          <div class="px-2 py-6 flex flex-col bg-white shadow">
            <a class="py-2 px-2 text-lg hover:text-psa-100" href="{{ site.baseurl }}/due-diligence">Due Diligence</a>
            <a class="py-2 px-2 text-lg hover:text-psa-100" href="{{ site.baseurl }}/investigations" >Investigations</a>
            <a class="py-2 px-2 text-lg hover:text-psa-100" href="{{ site.baseurl }}/advisory-services" >Advisory</a>
          </div>
        </div>
      </div>

      <div class="relative" @click.away="open = false" @mouseleave="open = false" x-data="{ open: false }">
        <a class="px-4 w-full text-lg hover:text-psa-100 py-2 md:py-6 {% if current == '/due-diligence/' or current == '/advisory-services/' or current == '/investigations/' %} underline text-psa-100 {% endif %}"  @mouseover="open = !open" href="{{ site.baseurl }}/insights">
          Insights
          <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}" class="inline w-4 h-4 transition-transform duration-200 transform md:-mt-1 rotate-0"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
        <div class="absolute right-0 w-full mt-2 origin-top-right md:-left-4 md:w-48 z-50" x-show="open" x-transition:enter="transistion ease-out duration-200" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-200" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95">
          <div class="px-2 py-6 flex flex-col bg-white shadow">
            <a class="py-2 px-2 text-lg hover:text-psa-100" href="{{ site.baseurl }}/category/case-study/">Case Studies</a>
            <a class="py-2 px-2 text-lg hover:text-psa-100" href="{{ site.baseurl }}/category/brief/" >White Papers </a>
            <a class="py-2 px-2 text-lg hover:text-psa-100" href="{{ site.baseurl }}/category/podcast/" >Podcasts</a>
          </div>
        </div>
      </div>
      
      <!-- <a class="px-4 text-lg hover:text-psa-100 {% if current == 'insights/index.html' or page.layout == 'post' or page.layout == 'podcast_post' %} underline text-psa-100 {% endif %}" href="{{ site.baseurl }}/insights" >Insights</a> -->
      <a class="px-4 text-lg hover:text-psa-100 {% if current == '/contact-us.html' %} underline text-psa-100 {% endif %}" href="{{ site.baseurl }}/contact-us" >Contact Us</a>
      <form action="/search.html" method="get">
        <div class="input-group relative flex items-stretch w-full rounded">
          <input name="query" type="search" class="form-control relative flex-auto min-w-0 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
          <span class="input-group-text flex items-center px-3 py-1.5 text-base font-normal text-gray-700 text-center whitespace-nowrap rounded" id="basic-addon2">
            <button>
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="w-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
              </svg>
            </button>
          </span>
        </div>
      </form>
    </nav>
  </div>

</div>
