<div class="{{c}}__inner-wrapper component">
    <section x-data="{ selectedItem: 0 }" class="{{c}}__items overflow-hidden mt-6">

		{% for item in include.tabs %}
            <article class="my-2 hover:bg-gray-300 bg-gray-100 {{c}}__tab">
                <div>
                    <header @click="selectedItem === {{ forloop.index }} ? selectedItem = 0 : selectedItem = {{ forloop.index }}" x-bind:class="{ 'bg-gray-300': selectedItem === {{ forloop.index }} }" class="flex justify-between items-center p-5 pl-8 pr-8 cursor-pointer select-none">
                        <h3 class="font-semibold text-lg text-gray-800">
                            {{ item.title_text }}
                        </h3>
                        <div class="rounded-full border w-7 h-7 flex items-center justify-center hover:bg-gray-200">
                            <div x-show="selectedItem !== {{ forloop.index }}" class="rounded-full text-gray-500 w-7 h-7 flex items-center justify-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
                                </svg>
                            </div>
                            <div x-show="selectedItem === {{ forloop.index }}" class="rounded-full text-gray-500 w-7 h-7 flex items-center justify-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                                </svg>
                            </div>
                        </div>
                    </header>
                    <div x-show="selectedItem === {{ forloop.index }}">
                        <div class="pl-8 pr-8 py-5 bg-gray-100 text-gray-700">
                            <p>
                                {{ item.content_html }}
                            </p>
                        </div>
                    </div>
                </div>
            </article>
		{% endfor %}

    </section>
</div>